


<div class="hero-image-wrapper">
   
    <img src="./images/dogSitting.png" class="hero-image" />

</div>



<div class="nav">     

<p>
    <br />
    <button type="button" onclick="location.href='@Url.Action("Index", "DogFacts")'">Dog fact
    </button>
</p>

<p>
    <br />
    <button type="button" onclick="location.href='@Url.Action("IndexXsd", "Xsd")'">XSD validation</button>
</p>



<p>
    <br />
    <button type="button" onclick="location.href='@Url.Action("RNG", "Rng")'">RNG validation </button>
</p>

<p>
    <br />
    <button type="button" onclick="location.href='@Url.Action("XPath", "Xpath")'">Xpath </button>
</p>

<p>
    <br />
    <button type="button" onclick="location.href='@Url.Action("DogList", "Home")'">Dog List </button>
</p>

<p>
    <br />
    <button type="button" onclick="location.href='@Url.Action("Weather", "Dhmz")'">Weather </button>
</p>



</div>


<div class="imgContainer">
    <div id="imageR" style="max-width:50px">
        <img src="./images/petMe.png" class="imgToRotate">
    </div>


</div>



@section Scripts {
    <script>
        

        $(document).ready(function () {
            $("#imageR").hover(function () {
                $.ajax({
                    type: "GET",
                    url: "/DogFacts/Index",
                    success: function (response) {
                        window.location.href = "/DogFacts/Index";
                    }
                });
            });

        });

        $(document).ready(function () {
            setTimeout(function () {
                $('html, body').animate({
                    scrollTop: $('.nav').offset().top
                }, 500);
            }, 500);
        });

    </script>
}
