@model IEnumerable<DogBreeds.Models.DogBreed>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
    <br/>
    <button type="button" onclick="location.href='@Url.Action("IndexXsd", "Home")'">Go to IndexXsd</button>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreedType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreedDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FurColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinHeightInches)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxHeightInches)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinWeightPounds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxWeightPounds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinLifeSpan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxLifeSpan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgAttribution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgCreativeCommons)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreedType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreedDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FurColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinHeightInches)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxHeightInches)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinWeightPounds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxWeightPounds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinLifeSpan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxLifeSpan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgAttribution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgCreativeCommons)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
