<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DOGApi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DOGApi.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animation.css" asp-append-version="true" />


    <style>


        .navbar {
            background-color: #f8d7da;
        }

        .nav-link {
            color: #721c24;
        }

            .nav-link:hover {
                color: #721c24;
                background-color: #f8d7da;
            }

        .navbar-brand img {
            margin-right: 5px;
        }




    </style>
</head>
<body>
 

    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/images/dog.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    DoggySite
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Weather", "Dhmz")">Weather</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "DogFacts")">Facts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("DogList", "Home")">Dogs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



    </header>



    <div class="container">
       <div class="innerContainer">
            @RenderBody()
        </div>
    </div>


    

    <footer class="border-top footer text-muted">
        <div class="footcontainer">
            &copy; 2023 - DOGApi - author: Jelena Ndou <a asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
